@font-face {
    font-family: "inter";
    src:
        url("./fonts/inter/inter-medium.woff2") format("woff2"),
        url("./fonts/inter/inter-medium.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}