@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    @apply bg-blue-background-1 font-serif selection:bg-blue-foreground selection:text-blue-background-1 font-black;
}

*, *:after, *:before {
    @apply box-border;
}

.text-shadow {
    box-shadow: inset -17px 0px 13.5px -14px #A6DA95,
                inset -4px -4px 5.7px #000000,
                inset 3px 3px 8.4px #323551;
}

.add-shadow {
    box-shadow: 0px 0px 7px #A6DA95,
                inset -4px -4px 6.1px rgba(24, 25, 38, 0.12),
                inset -4px -4px 12.2px #4C8739,
                inset 4px 4px 6px 2px #DAFFCF;
}

.done-shadow {
    box-shadow: inset -17px 0px 13.5px -14px #ED8796,
                0px 0px 7px #A6DA95,
                inset -4px -4px 6.1px rgba(24, 25, 38, 0.12),
                inset -4px -4px 12.2px #4C8739,
                inset 4px 4px 6px 2px #DAFFCF;
}

.delete-shadow {
    box-shadow: inset -17px 0px 13.5px -14px #C69FF6,
                0px 0px 7px #ED8796,
                inset 17px 0px 13.5px -14px #A6DA95,
                inset -4px -4px 6px 2px #AD6771,
                inset 4px 4px 6px 2px #FFB1BC;
}

.description-shadow-pending {
    box-shadow: inset 17px 0px 13.5px -14px #ED8796,
                0px 0px 7px #C6A0F6,
                inset -4px -4px 5.7px #7E62A1,
                inset 3px 3px 8.4px #ECDCFF;
}
.description-shadow-done {
    box-shadow: inset 17px 0px 13.5px -14px #EED49F,
                0px 0px 7px #A6DA95,
                inset -4px -4px 6.1px rgba(24,25,38,0.12),
                inset -4px -4px 12.2px #4C8739,
                inset 4px 4px 6px 2px #DAFFCF;
}

.undo-shadow {
    box-shadow: inset -17px 0px 13.5px -14px #A6DA95,
                0px 0px 7px #FFF1D4,
                inset -4px -4px 6.1px rgba(24, 25, 38, 0.12),
                inset -4px -4px 12.2px #B89959,
                inset 4px 4px 6px 2px #FFF1D4;
}
