@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    @apply bg-blue-background-1 font-serif selection:bg-blue-foreground selection:text-blue-background-1 font-black;
}

*, *:after, *:before {
    @apply box-border;
}

.text-shadow {
    box-shadow: inset -17px 0px 13.5px -14px theme(colors.green.background),
                inset -4px -4px 5.7px theme(colors.blue.shadow.dark),
                inset 3px 3px 8.4px theme(colors.blue.shadow.light);
}

.add-shadow {
    box-shadow: 0px 0px 7px theme(colors.green.background),
                inset -4px -4px 12.2px theme(colors.green.shadow.dark),
                inset 4px 4px 6px 2px theme(colors.green.shadow.light);
}

.done-shadow {
    box-shadow: inset -17px 0px 13.5px -14px theme(colors.red.background),
                0px 0px 7px theme(colors.green.background),
                inset -4px -4px 12.2px theme(colors.green.shadow.dark),
                inset 4px 4px 6px 2px theme(colors.green.shadow.light);
}

.delete-shadow {
    box-shadow: inset -17px 0px 13.5px -14px theme(colors.purple.background),
                0px 0px 7px theme(colors.red.background),
                inset 17px 0px 13.5px -14px theme(colors.green.background),
                inset -4px -4px 12px 2px theme(colors.red.shadow.dark),
                inset 4px 4px 6px 2px theme(colors.red.shadow.light);
}

.description-shadow-pending {
    box-shadow: inset 17px 0px 13.5px -14px theme(colors.red.background),
                0px 0px 7px theme(colors.purple.background),
                inset -5px -5px 10.7px 0px theme(colors.purple.shadow.dark),
                inset 5px 5px 6px theme(colors.purple.shadow.light);
}
.description-shadow-done {
    box-shadow: inset 17px 0px 13.5px -14px #EED49F,
                0px 0px 7px theme(colors.green.background),
                inset -4px -4px 12.2px -1px theme(colors.green.shadow.dark),
                inset 4px 4px 6px 2px theme(colors.green.shadow.light);
}

.undo-shadow {
    box-shadow: inset -17px 0px 13.5px -14px theme(colors.green.background),
                0px 0px 7px theme(colors.yellow.shadow.light),
                inset -4px -4px 12.2px theme(colors.yellow.shadow.dark),
                inset 4px 4px 6px 2px theme(colors.yellow.shadow.light);
}
